.vagas {
    width: 55%;
    margin: 0 auto;
}

.vagas__setor {
    margin: 4em 0;
}

.setor__profissão,
.titulo-vaga {    
    font-weight: 500;
    color: var(--cor-de-destaque-preto);    
}

.setor__profissão {
    font-size: 20px;
    margin-bottom: 1.5em;
}

.titulo-vaga{
    font-size: 18px;
}

.vaga {    
    padding: 2em;
    margin: 1.7em 0;
    border: 1px solid var(--cor-da-borda-card);
    border-radius: 15px;
}

.informações {
    margin-top: 3em;
}

.informações span:nth-child(2) {
    margin-left: 2em;
}