.vagas {
    margin: 10em 0 3em 0;
    text-align: center;
}

.vagas__chamada {
    font-size: 14px;
    font-weight: 500;
    padding: .3em .8em;
    border-radius: 15px;
    color: var(--cor-de-titulo-destaque);    
    background: var(--cor-de-fundo-destaque);
}

.vagas__destaque {
    font-size: 36px;
    font-weight: 600;
    color: var(--cor-de-destaque-preto);
    margin: .7em 0;
}

.vagas__texto {
    font-size: 20px;
    margin-bottom: 2.5em;
}

.vagas_img{
    width: 89%;
}